asgiref==3.8.1
cffi==1.17.1
channels==4.1.0
chardet==5.2.0
cryptography==43.0.1
Django==5.1
django-cors-headers==4.4.0
django-excel==0.0.10
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
et-xmlfile==1.1.0
lml==0.1.0
Markdown==3.7
numpy==2.1.1
openpyxl==3.1.5
pandas==2.2.3
pdfkit==1.0.0
pillow==10.4.0
pip==24.2
psycopg2==2.9.9
pycparser==2.22
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.2
reportlab==3.6.13
setuptools==65.5.0
six==1.16.0
sqlparse==0.5.1
texttable==1.7.0
tzdata==2024.1
XlsxWriter==3.2.0
